{{ header }}
<div class="centralbox">
		<div id="product-category" class="container">
			<div class="container-inner">

	{{ content_top }}

	<header class="page-header">
		<h1>{{ heading_title }}</h1>
	</header>

	<ul class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
	</ul>

	{% if thumb or description %}

		<div class="category-info visible-xs">
			{% if thumb %}
				<div class="image"><img src="{{ thumb }}" alt="{{ heading_title }}" /></div>
			{% endif %}
			{% if description %}
				{{ description }}
			{% endif %}
		</div>

	{% endif %}

	{% if column_left and column_right %}
		{% set class = 'col-sm-6 middle sideleft' %}
		{% set grid = 'col-lg-6 col-md-6 col-sm-12 col-xs-12' %}
	{% elseif column_left or column_right %}
		{% set class = 'col-sm-9' %}
		{% set grid = 'col-lg-4 col-md-4 col-sm-6 col-xs-12' %}
	{% else %}
		{% set class = 'col-sm-12' %}
		{% set grid = 'col-lg-3 col-md-3 col-sm-6 col-xs-12' %}
	{% endif %}

	<div class="row">

		{{ column_left }}

		<div id="content" class="{{ class }} category" role="main">

			<div class="mainborder">

				<div class="category-details">

					{% if thumb or description %}

						<div class="category-info hidden-xs">
							{% if thumb %}
								<div class="image"><img src="{{ thumb }}" alt="{{ heading_title }}" /></div>
							{% endif %}
							{% if description %}
								{{ description }}
							{% endif %}
						</div>

					{% endif %}


					{% if categories and sellegance_subcat_status and sellegance_subcat_status == 1 %}

						{% if sellegance_subcat_thumbnails_status != 1 %}

							<div class="contentset">
								<h4 class="inner"><span>{{ text_subcategories }}</span></h4>
							</div>
							<ul class="category-list">
								{% for category in categories %}
								<li class="subcat"><a href="{{ category.href }}" title="{{ category.name }}">{{ category.name }}</a></li>
								{% endfor %}
							</ul>

						{% endif %}

					{% endif %}

				</div>

				<!-- Grid/Lis view, filters -->

				<div class="product-filter {% if not categories and not products %} hidden {% endif %}">

					{% if categories and sellegance_subcat_status == 1 and sellegance_subcat_thumbnails_status == 1 %}

						<a class="btn btn-cart subcat-btn" role="button" data-toggle="collapse" href="#subcategories" aria-expanded="false" aria-controls="collapseExample">{{ text_subcategories }} <i class="fa fa-angle-right"></i></a>

						<div class="collapse clearfix" id="subcategories">
						  <ul class="category-list" aria-labelledby="subcategories">
						    {% for category in categories %}
						    <li class="subcat_thumb">
						    	<a href="{{ category.href }}" title="{{ category.name }}">
						    		{% if category.thumb %}
						    			<img src="{{ category.thumb }}" class="img-responsive" alt="{{ category.name }}" />
						    		{% else %}
						    			<img src="image/no_image.jpg" class="img-responsive" width="{{ sellegance_subcat_thumb_width }}" height="{{ sellegance_subcat_thumb_height }}" />
						    		{% endif %}
						    		<span>{{ category.name }}</span>
						    	</a>
						    </li>
						    {% endfor %}
						  </ul>
						</div>

					{% endif %}

					{% if products %}

						<div class="btn-group display">
						  <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>
						  <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i></button>
						</div>

						<span class="product-compare"><a href="{{ compare }}" id="compare-total" data-toggle="tooltip" class="btn btn-default" title="{{ text_compare }}"><i class="fa fa-exchange"></i></a></span>
						
						<div class="list-options"> 

							<div class="sort">

								<i class="fa fa-sort-amount-asc" data-toggle="tooltip" title="{{ text_sort }}"></i>

								<div class="btn-group dropdown">
								  <ul class="dropdown-menu dropdown-menu-right">
								  	{% set current_sort = '' %}
								  	{% for sorts in sorts %}
								  	{% if sorts.value == '%s-%s'|format(sort, order) %}
								  	<li><a href="{{ sorts.href }}">{{ sorts.text }}</a></li>
								  	{% set current_sort = sorts.text %}
								  	{% else %}
								  	<li><a href="{{ sorts.href }}">{{ sorts.text }}</a></li>
								  	{% endif %}
								  	{% endfor %}
								  </ul>
								  <button type="button" id="input-sort" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								    {{ current_sort }} <span class="caret"></span>
								  </button>
								  
								</div>

							</div>

							<div class="limit">

								<div class="btn-group dropdown">
								  <ul class="dropdown-menu dropdown-menu-right">
								  	{% set current_limit = '' %}
								  	{% for limits in limits %}
								  	{% if limits.value == limit %}
								  	<li><a href="{{ limits.href }}">{{ limits.text }}</a></li>
								  	{% set current_limit = limits.text %}
								  	{% else %}
								  	<li><a href="{{ limits.href }}">{{ limits.text }}</a></li>
								  	{% endif %}
								  	{% endfor %}
								  </ul>
								  <button type="button" id="input-limit" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								    {{ current_limit }} <span class="caret"></span>
								  </button>
								</div>

							</div>

						</div>

					{% endif %}

				</div>
				
					<!-- Product list (Default to Grid) -->

				{% if products %}

					<div class="row product-listing">
						{% for product in products %}
						<div class="product-layout product-grid {{ grid }}">
							<div class="product-thumb">

								{% if product.special %}
									<span class="onsale">{{ text_onsale }}</span>
								{% endif %}

								<div class="image hover_fade_in_back">
									<div class="quickview"><a id="qv{{ product.product_id }}" class="button btn btn-link" rel="mp-quickview" href="index.php?route=product/quickview&product_id={{ product.product_id }}" ><i class="fa fa-plus-circle"></i> {{ text_quickview }}</a></div>
									
									{% if product.thumb and product.thumb_swap and sellegance_rollover_images == 1 %}
										<div class="front-image">
											<a href="{{ product.href }}"><img src="{{ product.thumb }}" title="{{ product.name }}" class="img-responsive" alt="{{ product.name }}"/></a>
										</div>
										<div class="back-image">
											<a href="{{ product.href }}"><img src="{{ product.thumb_swap }}" title="{{ product.name }}" class="img-responsive" alt="{{ product.name }}"/></a>
										</div>
									{% elseif product.thumb %}
										<a href="{{ product.href }}"><img src="{{ product.thumb }}" title="{{ product.name }}" class="img-responsive" alt="{{ product.name }}" /></a>
									{% endif %}
								</div>

								<div>
									<div class="caption">
									
										<h4 class="name"><a href="{{ product.href }}">{{ product.name }}</a></h4>
										<p class="description">{{ product.description }}</p>

										{% if product.price %}
										<p class="price">
											{% if not product.special %}
												{{ product.price }}
											{% else %}
												<span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
											{% endif %}
											{% if product.tax %}
												<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
											{% endif %}
										</p>
										{% endif %}

										{% if product.rating %}
										<div class="rating">
										  {% for i in 1..5 %}
										  {% if product.rating < i %}
										  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
										  {% else %}
										  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
										  {% endif %}
										  {% endfor %}
										</div>
										{% endif %}

										<div class="cart">
											<div class="btn-group">
											<button type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');" class="btn btn-sm btn-cart">{{ button_cart }}</button>
											<button type="button" data-toggle="tooltip" class="btn btn-link btn-sm wishlist" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart-o"></i></button>
											<button type="button" data-toggle="tooltip" class="btn btn-link btn-sm compare" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>

					<div class="row">
					  <div class="col-sm-6 text-left">{{ pagination }}</div>
					  <div class="col-sm-6 text-right">{{ results }}</div>
					</div>
				
				{% endif %} <!-- products END -->


				<!-- If Category is empty -->

				{% if not categories and not products %}

					<div class="content empty">

						<p>{{ text_empty }}</p>

						<div class="buttons">
							<a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a>
						</div>

					</div>

				{% endif %}

			</div>

		</div> <!-- #content -->
		
		{{ column_right }}

	</div> <!-- .row -->
	
	{{ content_bottom }}

{{ footer }}